<div class="container-carousel-outer">
<div class="container-carousel">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <% cocktail_1 = @cocktails.sample%>
      <%= link_to cocktail_path(cocktail_1) do %>
      <img class="d-block w-100" src="https://source.unsplash.com/400x200/?cocktails" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="carousel-text"><%= cocktail_1.name %> </h2>
      </div>
      <% end %>
    </div>
    <div class="carousel-item">
      <% cocktail_2 = @cocktails.sample%>
      <%= link_to cocktail_path(cocktail_2) do %>
      <img class="d-block w-100" src="https://source.unsplash.com/400x200/?cocktails" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="carousel-text"><%= cocktail_2.name %> </h2>
      </div>
      <% end %>
    </div>
    <div class="carousel-item">
      <% cocktail_3 = @cocktails.sample%>
      <%= link_to cocktail_path(cocktail_3) do %>
      <img class="d-block w-100" src="https://source.unsplash.com/400x200/?cocktails" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="carousel-text"><%= cocktail_3.name %> </h2>
      </div>
      <% end %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>